<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server testing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost:8000/Static/main.css">
</head>
<body>
    <h1>Hello world!</h1>
    <div class="row">
        <div class="col-lg-4"><button style="backGround-color:yellow">Add animal</button></div>
        <div class="col-lg-4"><button style="backGround-color:green"><a href="/items/food/">See food</a></button></div>
        <div class="col-lg-4"><button style="backGround-color:blue"><a href="/items/toys/">See toys</a></button></div>
    </div>

</body>
</html>